.header {
    border: hidden 1px #bf40bf;
    margin-left: 20px;
    padding-top: 4px;
    color: #364547;
    text-align: center;
    border-radius: 18px;
    height: 18px;
    width: 110px;
    background-color: #c0c0c0;
    display: inline-block;
}
body {
    background-image: url(img/pag\ sobre\ nós\ 2.png);
}
hr {
    color: #364547;
}
h3 {
    color: #bf40bf;
}
#anuciados {
    font-size: 30px;
}
#paragrafos {
    font-size: 25px;
}
#home01 {
    text-align: center;
}
#sobre {
    text-align: center;
}
#anuciadosborda {
    font-size: 30px;
    text-align: center;
    border: 3px solid #bf40bf;
    margin-left: 400px;
    margin-right: 400px;
    border-radius: 8px;
}
#time {
    text-align: center;
}
#serviços {
    border: 1px hidden black;
    text-align: center;
}
#icon {
    text-align: center;
    font-size: 20px;
    color: #bf40bf;
    border: 3px solid #bf40bf;
    margin-left: 500px;
    margin-right: 500px;
    border-radius: 8px;
}
#cliente {
    text-align: center;
}








#sobretech {
    padding-left: 20px;
    font-size: 20px;
}
#anuciado {
    border: hidden 1px black;
    padding-left: 3%;
    font-size: 50px;
    text-align: center;
}
#panuciado {
    border: hidden 1px black;
    padding-left: 3%;
    font-size: 30px;
}
#titulos {
    border: 1px black solid;
    padding-left: 3%;
    margin-right: 65%;
    font-size: 30px;
    align-content: baseline;
}
#ptitulo {
    border: 1px black solid;
    padding-right: 3%;
    margin-left: 40%;
    margin-right: 5%;
    font-size: 20px ;
}


#clientes {
    padding-left: 90px;
}
#dados {
    border: 1px black hidden;
    border-radius: 10px;
    background-color: rgba(220, 220, 220, 0.486);
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 20px;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
}

#portifolio {
    text-align: center;
}
#cabeça {
    text-align: center;
}
#contato {
    text-align: center;
}
